/* styles written for michaelschultz.com */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* fallback */
a {
  color: white;
}

/* a:focus,
button:focus {
  outline: none !important;
} */

html, body {
  font-family: "Inter", "Open Sans", "Avant Garde", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  @apply text-primary-100;
  @apply antialiased;
}

b, strong {
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
}

h1 {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin: 0;
}

h2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin: 0;
}

h3 {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
}

p, span {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
}

p {
  margin-bottom: 16px;
}

button {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
}
